@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/type' as *;

.pageLayout {
  // Styles for the overall page layout if needed
}

.pageHeaderActions {
  display: flex;
  align-items: center;
  gap: $spacing-05;
}

.section {
  margin-bottom: $spacing-09;
  background-color: white;
  border-radius: $spacing-03;
  padding: 1rem 0 1rem 0;

  &:last-child {
    margin-bottom: $spacing-09;
  }
}

.sectionHeader {
  margin-bottom: $spacing-05;
  padding: 0 $spacing-05 0 $spacing-05;
}

.sectionTitle {
  @include type-style('productive-heading-04');
  margin-bottom: $spacing-06;
  padding-bottom: $spacing-05;
  border-bottom: 1px solid $border-subtle-01;
}

.subSectionTitle {
  @include type-style('productive-heading-02');
  padding: $spacing-05;
}

.sectionContent {
  padding: 0;
}

.detailsGrid {
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 1rem; // row-gap column-gap
  align-items: flex-end;
  padding: 0 !important;
  margin: 0 !important;
}

.formItem {
  //margin-bottom: $spacing-06;
}

.notesTextArea {
  // min-height: 120px; // Example of setting a minimum height
  // className={styles.formItem}
}

.buttonSet {
  display: flex;
  gap: $spacing-05;
  margin-top: $spacing-07;
  justify-content: flex-end;
}

.usersTableContainer {
  // margin-top: $spacing-04;
  // margin-bottom: $spacing-04;
  padding: 0;
}

.pendingUsersTableContainer {
  margin-top: 2rem;
  border-top: 1px solid $border-subtle-01;
}

.addUserForm {
  // Still for the add user form container
}

.roleDropdown {
  min-width: 150px; // Ensure dropdown has enough width
}

.actionCell {
  // text-align: right; // Align actions to the right if desired
}

.inlineNotification {
  margin-bottom: $spacing-05;
  margin-top: $spacing-05;
}

.skeletonTextContainer p {
  margin-bottom: $spacing-05;
}

.readOnlyField {
  // margin-bottom: $spacing-06;
  .cds--label {
    @include type-style('label-01');
    // margin-bottom: $spacing-03;
    color: $text-secondary;
  }
  .cds--text-input__field-wrapper {
    // Custom styling for read-only field appearance if needed
  }
  p {
    @include type-style('body-compact-01');
    //padding-top: $spacing-03; // Align with TextInput label
    //padding-bottom: $spacing-03; // Align with TextInput label
    //border-bottom: 1px solid transparent; // Match TextInput
    //min-height: 2.5rem; // Match Carbon TextInput height
    //line-height: 1.5rem; // Match Carbon TextInput height
  }
}

.fullWidthColumn {
  // Ensures the column takes full width if needed in a different grid setup
}

.placeholderText {
  @include type-style('body-short-01');
  color: $text-secondary;
  padding: $spacing-05;
  text-align: center;
  background-color: $layer-accent-01;
  border-radius: $spacing-03;
} 