// This file contains variables used across the application
// It's imported by various scss modules

// UI Background colors
$ui-background: #f4f4f4;
$ui-01: #ffffff;
$ui-02: #f4f4f4;
$ui-03: #e0e0e0;

// Text colors
$text-01: #161616;
$text-02: #525252; 